<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="example03.js"></script>
  </head>
  <body>
    <div ng-controller="indexCtrl">
      <ul id="todo">
        <li ng-repeat="item in items">
          商品：{{item.title}}
          金額：$ {{item.price}}
          數量：<input type="number" ng-model="item.quantity" ng-change="updateQuantity(item)"/><br />
        </li>
      </ul>
      <br />
      總金額：{{getTotal()}}
      運費：{{getCosts()}}
    </div>
  </body>
</html>

